<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Todo-list</title>

	<!-- CSS Stylesheets -->
	<link rel="stylesheet" href="css/styles.css">

	<!-- Font Awesome -->
	<script src="https://kit.fontawesome.com/5c38d15388.js" crossorigin="anonymous"></script>
</head>
<body>

	<div id="heading" class="box">
		<h1><%= listTitle %></h1>
	</div>

	<div class="box">

		<% for (item of newListItems) { %>
			<div class="item">
				<input type="checkbox">
				<p> <%= item %> </p>
				<form class="move-right" action="/removeitem" method="post">
					<input type="hidden" name="itemRemove" value=<%= item %>>
					<button type="submit" class="btn" name="">
						<i class="fas fa-times"></i>
					</button>
				</form>
			</div>
		<% } %>

		<form class="item" action="/" method="post">
			<input type="text" name="newItem" placeholder="Enter an item" autocomplete="off" autofocus="on">

			<button type="submit" name="">+</button>
		</form>

	</div>
</body>
</html>